In [10]:
price ={'pears':36, 'cashew':56, 'apple':78}

In [12]:
price

{'pears': 36, 'cashew': 56, 'apple': 78}

In [13]:
price['apple']

78

In [15]:
dictx = {'Name':['Jonathan','Jude', 'Dave', 'Chris', 'Adam'],'Score':[90,45,60,50,70]}

In [16]:
dictx

{'Name': ['Jonathan', 'Jude', 'Dave', 'Chris', 'Adam'],
 'Score': [90, 45, 60, 50, 70]}

In [17]:
import pandas as pd

In [19]:
df = pd.DataFrame(dictx)

In [27]:
df['Score'].sort_values(ascending=True)

1    45
3    50
2    60
4    70
0    90
Name: Score, dtype: int64

In [28]:
df.max()

Name     Jude
Score      90
dtype: object

In [29]:
df.describe()

           Score
count   5.000000
mean   63.000000
std    17.888544
min    45.000000
25%    50.000000
50%    60.000000
75%    70.000000
max    90.000000

In [30]:
dictx['Denis'] = [75]

In [31]:
dictx

{'Name': ['Jonathan', 'Jude', 'Dave', 'Chris', 'Adam'],
 'Score': [90, 45, 60, 50, 70],
 'Denis': [75]}

In [34]:
pd.Series

pandas.core.series.Series

In [35]:
d={'k1':[1,2,3]}

In [36]:
d['k1'][1]

2